<div class="container row justify-content-center my-3">
  <form class="col-md-5" action="/cats/create" method="POST">
    {{!-- Basic Information --}}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="ex. American Shorthair" name="name">
    </div>
    <div class="mb-3">
      <label for="alt-names" class="form-label">Alt Names</label>
      <input type="text" class="form-control" id="alt-names" placeholder="ex. Highlander, Highland Straight"
        name="alt_names">
    </div>
    <div class="mb-3">
      <label for="origin" class="form-label">Origin</label>
      <input type="text" class="form-control" id="origin" placeholder="ex. United States" name="origin">
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Weight-imperial</label>
      <input type="text" class="form-control" id="weight" placeholder="ex. 5 - 10" name="weight[imperial]">
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Weight-metric</label>
      <input type="text" class="form-control" id="weight" placeholder="ex. 5 - 10" name="weight[metric]">
    </div>
    <div class="mb-3">
      <label for="life-span" class="form-label">Life Span</label>
      <input type="text" class="form-control" id="life-span" placeholder="ex. 12 - 18" name="life_span">
    </div>

    {{!-- Properties --}}
    <div class="row g-3" id="number-input-container">
      {{!-- Number Type Input --}}
    </div>

    {{!-- Boolean properties --}}
    <div class="d-flex justify-content-evenly mt-4">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="natural" name="natural">
        <label class="form-check-label" for="natural">Natural</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="hairless" name="hairless">
        <label class="form-check-label" for="hairless">Hairless</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="short_legs" name="short_legs">
        <label class="form-check-label" for="short_legs">Short Legs</label>
      </div>
    </div>

    {{!-- Description --}}
    <div class="mt-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" rows="3" name="description"></textarea>
    </div>

    {{!-- Outside Link --}}
    <div class="my-3">
      <label for="image" class="form-label">Image</label>
      <input type="text" class="form-control" id="image"
        placeholder="ex. https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg" name="image[url]">
    </div>
    <div class="my-3">
      <label for="wikipedia_url" class="form-label">Wikipedia URL</label>
      <input type="text" class="form-control" id="wikipedia_url"
        placeholder="ex. https://en.wikipedia.org/wiki/Abyssinian_(cat)" name="wikipedia_url">
    </div>
    <div class="mb-3">
      <label for="vetstreet_url" class="form-label">Vetstreet URL</label>
      <input type="text" class="form-control" id="vetstreet_url"
        placeholder="ex. http://www.vetstreet.com/cats/abyssinian" name="vetstreet_url">
    </div>
    {{!-- Submit --}}
    <div class="d-flex justify-content-center">
      <button class="btn btn-success" type="submit">Create</button>
    </div>
  </form>
</div>

<script>
  // Use handlebarsHelpers let script access data from the server
  // From stackoverflow https://stackoverflow.com/questions/30767928/accessing-handlebars-variable-via-javascript
  let breedObject = {{{ json breed }}}

  // Find properties with number type in Breed object
  function findNumProp() {
    let numberPropList = []
    for (let prop in breedObject) {
      // Prop with number type is pushed into the list.
      // Exclude property name '__v'
      if (typeof breedObject[prop] === 'number' && prop != '__v') {
        numberPropList.push(prop)
      }
    }
    return numberPropList
  }

  // Render the number input elements in this page
  function renderNumInput() {
    const numberPropList = findNumProp()
    let numberInputContainer = document.querySelector('#number-input-container')
    for (let prop of numberPropList) {
      // Create label text content of the inputs
      let labelText = prop.toUpperCase()

      // Replace '_' with space in the label name
      if (prop.includes('_')) {
        labelText = prop.replace('_', ' ').toUpperCase()
      }

      // Create HTML
      numberInputContainer.innerHTML += `
    <div class="col-6">
      <label for="${prop}">${labelText}</label>
      <input type="number" class="form-control" max="5" min="1" placeholder="range: 1 - 5" id="${prop}" name="${prop}">
    </div>
    `
    }
  }

  renderNumInput()
</script>