.card img{
  cursor: pointer;
}

li {
 min-height: 100px !important;
}

#list-name-img-container {
  min-height: 1em;
  min-width: 1em;
}

#list-img-container img{
  height: 1em;
  width: 1em;
  max-height: 50px;
  max-width: 70px;
}

